body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3498db;
    padding: 10px 0;
    transition: background-color 0.3s;
    z-index: 1000; /* Ensure the navbar is above other content */
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
    background-color: #2c3e50;
    color: #fff;
}

.content {
    margin-top: 70px;
    padding: 20px;
}

section {
    height: auto;
    padding: 20px;
    border: 1px solid #33cbf1;
    margin-bottom: 20px;
}

section:nth-child(odd) {
    background-color: #f3eaea;
}

section:nth-child(even) {
    background-color: #f0fae3;
}

section h2 {
    margin-top: 0;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

